.trx-user-label {
  &,
  &-add {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-style: initial;
    margin: 0 2px;
    min-height: 12px;
    min-width: 12px;
    padding: 0 2px;
  }

  &-add {
    background-color: var(--background-primary-color);
    color: var(--foreground-primary-color);
  }
}

.trx-bright {
  color: #000;
}

.trx-user-label-form {
  background-color: var(--background-primary-color);
  border: 1px solid;
  color: var(--foreground-primary-color);
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px 8px;
  position: absolute;
  width: 350px;

  select {
    text-overflow: ellipsis;
  }
}

.trx-label-username {
  display: flex;
  flex-direction: column;
  margin-right: 4px;
}

.trx-label-priority {
  display: flex;
  flex-direction: column;
}

.trx-label-username-priority {
  display: grid;
  grid-template-columns: 75% 25%;
}

.trx-label-grid {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(2, 1fr);
}

.trx-label-preview {
  align-items: center;
  border: 1px solid var(--border-color);
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  width: 100%;

  &.trx-bright {
    color: #000;
  }
}

.trx-label-actions {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
